<ion-view>
    <ion-header-bar>
        <ion-nav-bar>
            <ion-nav-buttons side="primary">
                <button class="button button-icon icon ion-chevron-left" ng-click="goBack()"></button>
            </ion-nav-buttons>
            <ion-nav-title>
                <span>家庭随访</span>
            </ion-nav-title>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content>
    	<ion-list>
            <a class="item item-avatar" href="#" ng-click="openGxysf()">
                 <img src="../../../../../assets/images/gxysf.png">
                 <h2>高血压随访</h2>
            </a>
            <a class="item item-avatar" href="#">
                 <img src="../../../../../assets/images/tnbsf.png">
                 <h2>糖尿病随访</h2>
            </a>
            <a class="item item-avatar" href="#">
                 <img src="../../../../../assets/images/gxyyasf.png">
                 <h2>高血压预案随访</h2>
            </a>
            <a class="item item-avatar" href="#">
                 <img src="../../../../../assets/images/tnbyasf.png">
                 <h2>糖尿预案随访</h2>
            </a>
            <a class="item item-avatar" href="#">
                 <img src="../../../../../assets/images/fpzyasf.png">
                 <h2>肥胖症预案随访</h2>
            </a>
    	</ion-list>
    </ion-content>
</ion-view>