<ion-view>
      <ion-header-bar class="bar-light">
      <div class="buttons">
        <button class="button button-icon ion-chevron-left" ng-click="goBack()"></button>
      </div>
      <h1 class="title">公共卫生-高血压随访</h1>
      <div class="buttons">
        <button class="button button-icon ion-search"></button>
      </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader">
      <div class="buttons" id="subheader_button">
        <button class="button button-positive">待随访居民</button>
        <button class="button button-positive">已随访居民</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="info in civilian">
          <img src="assets/images/test_icon.jpeg" alt="">
          <h2>{{info.name}}</h2>
          <p>{{info.sf_time}}</p>
          <p>{{info.sf_address}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>