<ion-view view-title="首页" cache-view="false">
    <ion-side-menus>
        <ion-side-menu-content drag-content="false">
            <ion-view cache-view="false">
                <ion-header-bar>
                    <ion-nav-bar>
                        <ion-nav-buttons side="primary">
                            <button class="button button-icon icon ion-navicon-round" menu-toggle="left">
                            </button>
                        </ion-nav-buttons>
                        <ion-nav-buttons side="secondary">
                            <button class="button button-icon icon ion-ios-search-strong hide" ng-click="showFilterBar()">
                            </button>
                        </ion-nav-buttons>
                        <ion-nav-title>
                            <span>{{firstClassKeshiName}}</span>
                        </ion-nav-title>
                    </ion-nav-bar>
                </ion-header-bar>
                <ion-header-bar class="bar-subheader ion-scroll-box">
                    <ion-scroll zooming="true" direction="x" scrollbar-x="false" overflow-scroll="false" class="ion-scroll-style bg-gray3">
                        <div class="ion-scroll-div">
                            <button class="margin-rt10px  btn-scroll" ng-repeat="keshi in secondClassKeshi.result" id="{{keshi.directory_id}}" ng-click="refreshThirdKeshi(keshi)">{{keshi.directory_name}}</button>
                        </div>
                    </ion-scroll>
                </ion-header-bar>
                <ion-content has-tabs="true" overflow-scroll='true' scroll="true" direction="y">
                    <ion-list can-swipe="listCanSwipe">
                        <ion-item class="item-thumbnail-left" ng-repeat="keshi in thirdClassKeshi.result" ng-click="gotoPdf(keshi.content_path)">
                            <img src="assets/images/knowledge_default.png">
                            <a href="#">
                                <h2>{{keshi.content_name}}</h2>
                                <p>{{keshi.create_time}}</p>
                            </a>
                            <ion-option-button class="button-positive">删除</ion-option-button>
                        </ion-item>
                    </ion-list>
                    <div ng-if="items !== undefined && !items.length" class="no-results">
                        <p>No Results</p>
                    </div>
                </ion-content>
            </ion-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" width="250">
            <ion-view view-title="{{myName}}">
                <ion-header-bar>
                    <ion-nav-bar>
                        <ion-nav-title>
                            <span>{{myName}}</span>
                        </ion-nav-title>
                    </ion-nav-bar>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item menu-close href="#" ng-repeat="keshi in firstClassKeshi.result" id="{{keshi.directory_id}}" ng-click="refreshKnowledge(keshi)">{{keshi.directory_name}}</ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>
<script id="modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <ion-nav-bar>
                <ion-nav-buttons side="primary">
                    <button class="button button-icon ion-arrow-left-c icon" ng-click="closeModal1()"></button>
                </ion-nav-buttons>
                <ion-nav-title>
                    <span>相关规定</span>
                </ion-nav-title>
            </ion-nav-bar>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <p>null</p>
                </ion-item>
            </ion-list>
            <button style="position:absolute;bottom:0" class="button button-balanced button-block" ng-click="confirmRoles()">确认</button>
        </ion-content>
    </ion-modal-view>
</script>
</ion-view>
