<ion-view view-title="首页" cache-view="false">
    <ion-side-menus>
        <ion-side-menu-content drag-content="false">
            <!-- <ion-tabs class="tabs-stable tabs-icon-top"> -->
                <!-- <ion-tab title="首页" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline"> -->
                    <!-- <ion-view view-title="首页" cache-view="false" hide-nav-bar="false">
                        <ion-header-bar>
                            <ion-nav-bar>
                                <ion-nav-buttons side="primary">
                                    <button class="button button-icon icon ion-navicon-round" menu-toggle="left">
                                    </button>
                                </ion-nav-buttons>
                                <ion-nav-title>
                                    <span>首页</span>
                                </ion-nav-title>
                            </ion-nav-bar>
                        </ion-header-bar> -->
                        <!-- <ion-content has-tabs="false" overflow-scroll='true' style="background: #efefef;" scroll="true"
                                     direction="y">
                            <ion-refresher
                                    pulling-text="刷新中..."
                                    on-refresh="doRefresh()">
                            </ion-refresher>
                            <ion-slide-box does-continue="true" auto-play="true" show-pager="true"
                                           style="height: 150px;width:100%;margin-bottom:12px">
                                <ion-slide>
                                    <img src="assets/images/img1.png" style="width: 100%">
                                </ion-slide>
                                <ion-slide>
                                    <img src="assets/images/img2.png" style="width: 100%">
                                </ion-slide>
                                <ion-slide>
                                    <img src="assets/images/img3.png" style="width: 100%">
                                </ion-slide>
                            </ion-slide-box>
                            <ion-list style="margin-bottom:12px">
                                <ion-item>
                                    <div class="list">
                                        <a class="item item-avatar" href="#">
                                            <img src="assets/images/main_rocket.png">
                                            <h2>快速签约登记</h2>
                                            <p>快速建立与家庭医生的签约关系</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="row" id="three_icons">
                                        <div class="col col-33" ng-click="">
                                            <img src="assets/images/main_sign.png">
                                            <p>签约管理</p>
                                        </div>
                                        <div class="col col-33" ng-click="openJtsf()">
                                            <img src="assets/images/jtsf.png">
                                            <p>家庭随访</p>
                                        </div>
                                        <div class="col col-33" ng-click="">
                                            <img src="assets/images/mywork.png">
                                            <p>我的工作</p>
                                        </div>
                                        </div>
                                    </div>
                                </ion-item>
                            </ion-list>
                            <ion-list>
                                <ion-item>
                                    <button class="button button-balanced button-block" ng-click="openDatePicker()">日期控件</button>
                                </ion-item>
                            </ion-list> 
                            <ion-list>
                                <ion-item>
                                    <button ng-click="openModal1()" class="button button-balanced button-block">阅读相关规定</button>
                                    <div class="ion-checkmark-round color_red text-center" ng-show="check"></div>
                                </ion-item>
                            </ion-list>
                        </ion-content> -->
                    <!-- </ion-view>
                </ion-tab> -->
                <!-- <ion-tab title="知识库"  icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline"> -->
                    <ion-view cache-view="false">
                        <ion-header-bar>
                            <ion-nav-bar>
                                <ion-nav-buttons side="primary">
                                    <button class="button button-icon icon ion-navicon-round" menu-toggle="left">
                                    </button>
                                </ion-nav-buttons>
                                <ion-nav-buttons side="secondary">
                                    <button class="button button-icon icon ion-ios-search-strong hide"
                                            ng-click="showFilterBar()">
                                    </button>
                                </ion-nav-buttons>
                                <ion-nav-title>
                                    <span>{{firstClassKeshiName}}</span>
                                </ion-nav-title>
                            </ion-nav-bar>
                        </ion-header-bar>
                        <ion-header-bar class="bar-subheader">
                        <ion-scroll direction="x" style="width: 100%; height: 4em;white-space: nowrap;">
                        <div style="width: 120%; height: 4em; cursor: url(), auto;">
                            <button class ="button button" ng-repeat="keshi in secondClassKeshi.result | filter:testFilter" ng-click="refreshThirdKeshi(keshi)">{{keshi.directory_name}}</button>
                        </div>
                        </ion-scroll>
                        </ion-header-bar>
                        <ion-content has-tabs="true" overflow-scroll='true' style="background: #efefef;" scroll="true" direction="y">
                            <ion-list can-swipe="listCanSwipe">
                                <ion-item class="item-thumbnail-left" ng-repeat="keshi in thirdClassKeshi.result" style="overflow:hidden">
                                    <img src="assets/images/zsk_pic.png">
                                    <a href="http://61.28.113.182:2082/{{keshi.content_path}}">
                                    <h2>{{keshi.content_name}}</h2>
                                    <p>{{keshi.create_time}}</p>
                                    </a>
                                    <ion-option-button class="button-positive">删除</ion-option-button>
                                </ion-item>
                                <!-- <ion-item collection-repeat="item in items" ng-click="goToItemDetail(item)">
                                    {{item}}
                                    <ion-option-button class="button-positive">删除</ion-option-button>
                                </ion-item> -->
                            </ion-list>
                            <div ng-if="items !== undefined && !items.length" class="no-results">
                                <p>No Results</p>
                            </div>
                        </ion-content>
                    </ion-view>
                <!-- </ion-tab> -->
                <!-- <ion-tab title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
                    <ion-view cache-view="false" view-title="我的">
                        <ion-header-bar class="bar-stable">
                            <ion-nav-bar>
                                <ion-nav-buttons side="primary">
                                    
                                </ion-nav-buttons>
                                <ion-nav-title>
                                    <span>我的</span>
                                </ion-nav-title>
                            </ion-nav-bar>
                        </ion-header-bar>
                        <ion-content overflow-scroll='true' style="background: #efefef" scroll="true"
                                     direction="y">
                        <ion-list>
                            <a class="item item-avatar">
                                <img src="/assets/images/head.png">
                                <h2>{{}}医生，你好</h2>
                            </a>
                            <div class="item item-divider">
                                
                            </div>
                            <a class="item item-avatar">
                                <img src="assets/images/myteam.png">
                                <h2>{{}}医生，你好</h2>
                            </a>
                            <div class="item item-divider">
                                
                            </div>
                            <a class="item item-avatar">
                                <img src="assets/images/scan.png">
                                <h2>扫二维码</h2>
                            </a>
                            <a class="item item-avatar">
                                <img src="assets/images/share.png">
                                <h2>软件分享</h2>
                            </a>
                            <div class="item item-divider">
                                
                            </div>
                            <a class="item item-avatar">
                                <img src="assets/images/about.png">
                                <h2>关于壹家医保</h2>
                            </a>
                            <a class="item item-avatar">
                                <img src="assets/images/setting.png">
                                <h2>系统设置</h2>
                            </a>
                            <div class="item item-divider">
                                
                            </div>
                            <a class="item" ng-click="showConfirm()">
                                <h2 style="text-align:center;">退出</h2>
                            </a>
                            </ion-list>
                        </ion-content>
                    </ion-view>
                </ion-tab> -->
           <!--  </ion-tabs> -->
        </ion-side-menu-content>
        <ion-side-menu side="left" width="250">
            <ion-view view-title="{{myName}}">
                <ion-header-bar>
                    <ion-nav-bar>
                        <ion-nav-title>
                            <span>{{myName}}</span>
                        </ion-nav-title>
                    </ion-nav-bar>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item menu-close href="#" ng-repeat="keshi in firstClassKeshi.result" ng-click="refreshKnowledge(keshi)">{{keshi.directory_name}}</ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>

<script id="modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
           <ion-nav-bar>
               <ion-nav-buttons side="primary">
                   <button class="button button-icon ion-arrow-left-c icon" ng-click="closeModal1()"></button>
               </ion-nav-buttons>
               <ion-nav-title>
                   <span>相关规定</span>
               </ion-nav-title>
           </ion-nav-bar>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <p>null</p>
                </ion-item>
            </ion-list>
            <button style="position:absolute;bottom:0" class="button button-balanced button-block" ng-click="confirmRoles()">确认</button>
        </ion-content>
    </ion-modal-view>
</script>

</ion-view>